.profile__info {
  overflow: hidden;
  margin-right: 20px;
  width: auto;
  max-width: 49%;
  justify-content: start;
  display: grid;
  grid-template-columns: 1fr 42px;
  grid-template-rows: 39px 34px;
  grid-template-areas: 
    "username edit-button"
    "about about";
}

@media screen and (max-width: 768px) {
  .profile__info {
    grid-template-rows: 30.3px 34px;
  }
}

@media screen and (max-width: 680px) {
  .profile__info {
    margin-right: 0;
    max-width: 100%;
    width: 100%;
    margin-top: 26px;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas: 
    ". username edit-button"
    "about about about";
    justify-items: center;
  }
}

@media screen and (max-width: 410px) {
  .profile__info {
    grid-template-rows: 26px 28px;
  }
}