.header__account-info {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

@media screen and (max-width: 536px){
  .header__account-info {
    flex-direction: column;
    padding: 40px 0;
    width: 100%;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
  }
}