@media screen and (max-width: 536px) {
  .header__logo-wrapper {
    height: 84px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 28px 0 31.6px 30px;
    box-sizing: border-box;
  }
}