.modal__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  border: none;
  background-image: url('../../../images/VectorClose.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}

.modal__close-button:hover {
  opacity: .6;
}

@media screen and (max-width: 575px) {
  .modal__close-button {
    width: 20px;
    height: 20px;
    right: 0;
    top: -38px;
  }
}