.header__email {
  padding: 0;
  margin: 0 24px 0 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin-top: 6px;
}

@media screen and (max-width: 536px) {
  .header__email {
    margin: 0 0 18px;
  }
}