@import url('./vendor/normalize.css');
@import url('./vendor/fonts/inter.css');
@import url('./blocks/body/body.css');
@import url('./blocks/root/root.css');
@import url('./blocks/content/content.css');
@import url('./blocks/content/content_accaount-info-visible.css');
@import url('./blocks/page/page.css');
@import url('./blocks/button/button.css');
@import url('./blocks/header/header.css');
@import url('./blocks/header/header_auth.css');
@import url('./blocks/header/__logo/header__logo.css');
@import url('./blocks/header/__logo-wrapper/header__logo-wrapper.css');
@import url('./blocks/header/__acount-info/header__account-info.css');
@import url('./blocks/header/__email/header__email.css');
@import url('./blocks/header/__account-button/header__account-button.css');
@import url('./blocks/header/__account-button/_type/header__account-button_type_logout.css');
@import url('./blocks/header/__menu-burger/header__menu-burger.css');
@import url('./blocks/header/__menu-burger/_type/header__menu-burger_type_closed.css');
@import url('./blocks/header/__menu-burger/_type/header__menu-burger_type_opened.css');
@import url('./blocks/logo/logo.css');
@import url('./blocks/main/main.css');
@import url('./blocks/modal/modal.css');
@import url('./blocks/modal/_type/modal_type_profile.css');
@import url('./blocks/modal/_type/modal_type_place.css');
@import url('./blocks/modal/_type/modal_type_image.css');
@import url('./blocks/modal/_type/modal_type_confirm.css');
@import url('./blocks/modal/_type/modal_type_tooltip.css');
@import url('./blocks/modal/__tooltip-image/modal__tooltip-image.css');
@import url('./blocks/modal/_opened/modal_opened.css');
@import url('./blocks/modal/__block/modal__block.css');
@import url('./blocks/modal/__block/_type/modal__block_type_tooltip.css');
@import url('./blocks/modal/__container/modal__container.css');
@import url('./blocks/modal/__title/modal__title.css');
@import url('./blocks/modal/__title/_type/modal__title_type_tooltip.css');
@import url('./blocks/modal/__image/modal__image.css');
@import url('./blocks/modal/__place-name/modal__place-name.css');
@import url('./blocks/modal/__close-button/modal__close-button.css');
@import url('./blocks/form/form.css');
@import url('./blocks/form/_type/form_type_profile.css');
@import url('./blocks/form/_type/form_type_place.css');
@import url('./blocks/form/_type/form_type_confirm.css');
@import url('./blocks/form/__auth-inputs-wrapper/form__auth-inputs-wrapper.css');
@import url('./blocks/form/__input/form__input.css');
@import url('./blocks/form/__input/_error/form__input_error.css');
@import url('./blocks/form/__input/_value/form__input_value_username.css');
@import url('./blocks/form/__input/_value/form__input_value_about.css');
@import url('./blocks/form/__input/_value/form__input_value_place-name.css');
@import url('./blocks/form/__input/_value/form__input_value_image-link.css');
@import url('./blocks/form/__input/_type/form__input_type_auth.css');
@import url('./blocks/form/__error/form__error.css');
@import url('./blocks/form/__error/_active/form__error_active.css');
@import url('./blocks/form/__button/form__button.css');
@import url('./blocks/form/__button/_type/from__button_type_save.css');
@import url('./blocks/form/__button/_type/form__button_type_auth.css');
@import url('./blocks/form/_type/form_type_auth.css');
@import url('./blocks/form/_type/form_type_confirm.css');
@import url('./blocks/form/_type/form_type_auth.css');
@import url('./blocks/form/__button/_disabled/form__button_disabled.css');
@import url('./blocks/profile/profile.css');
@import url('./blocks/profile/__avatar-wrapper/profile__avatar-wrapper.css');
@import url('./blocks/profile/__edit-avatar-btn/profile__edit-avatar-btn.css');
@import url('./blocks/profile/__avatar/profile__avatar.css');
@import url('./blocks/profile/__info/profile__info.css');
@import url('./blocks/profile/__username/profile__username.css');
@import url('./blocks/profile/__about/profile__about.css');
@import url('./blocks/profile/__edit-button/profile__edit-button.css');
@import url('./blocks/profile/__add-place-button/profile__add-place-button.css');
@import url('./blocks/elements/elements.css');
@import url('./blocks/elements/__list/elements__list.css');
@import url('./blocks/element/element.css');
@import url('./blocks/element/__image/element__image.css');
@import url('./blocks/element/__info/element__info.css');
@import url('./blocks/element/__title/element__title.css');
@import url('./blocks/element/__like-button/element__like-button.css');
@import url('./blocks/element/__like-button/_active/element__like-button_active.css');
@import url('./blocks/element/__like-container/element__like-container.css');
@import url('./blocks/element/__like-count/element__like-count.css');
@import url('./blocks/element/__delete-button/element__delete-button.css');
@import url('./blocks/footer/footer.css');
@import url('./blocks/footer/__copyright/footer__copyright.css');
@import url('./blocks/auth/auth.css');
@import url('./blocks/auth/__title/auth__title.css');
@import url('./blocks/link/link.css');
@import url('./blocks/link/link_hidden.css');