.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 45px 0 37px;
  width: 100%;
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .header {
    min-height: 65px;
  }
}

@media screen and (max-width: 536px){
  .header {
    flex-direction: column;
    flex-flow: column-reverse;
    min-height: 56px;
    padding: 0;
  }
}